@font-face {
  font-family: 'EncodeSans';
  font-style: normal;
  font-weight: 200;
  src: local('EncodeSans Light'), local('EncodeSans-Light'), url('../fonts/EncodeSansCompressed-200-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'EncodeSans';
  font-style: normal;
  font-weight: 400;
  src: local('EncodeSans'), local('EncodeSans'), url('../fonts/EncodeSansCompressed-400-Regular.ttf') format('truetype');
}

// @font-face {
//   font-family: 'EncodeSans';
//   font-style: normal;
//   font-weight: 600;
//   src: local('EncodeSans Bold'), local('EncodeSans-Bold'), url('../fonts/EncodeSans-SemiBold.ttf') format('truetype');
// }