@media (max-width: $screen-xs-max) {
  html {
  // height: 100%;
  }

  body {
    // height: 100%;
    // font-family: 'Raleway', sans-serif
    color: #F5F3EC;
    // background: #333;
    // margin: 0px;
    // padding: 0px;
    // line-height: 1;
  }

  .menu {
    height: 100px;
  }
  .menu-open-button {
    top: 25px;
  }

  // #wrapper {
  //   position: relative;
  //   height: 100%;
  //   overflow: hidden;
  //   // background-color: #3A393F;
  //   box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.8);
  //   z-index: 1;
  //   transition-property: transform;
  //   transition-duration: 0.5s;
  //   background: #182cba no-repeat scroll center center / cover transparent;
  // }


  // #wrapper .nav_icon {
  //   padding: 25px 10px;
  //   width: 30px;
  //   display: block;
  //   color: red;
  //   &.close {
  //     position: absolute;
  //     right: 0px;
  //     top: 0px;
  //   color: red;
  //     display: block;
  //     i {
  //       // background: green
  //       // &:before, &:after
  //         // background: #3A393F
  //     }
  //   }
  //   &.hide {
  //     transform: scale(0.6);
  //   }

  //   i {
  //     -webkit-transition: all .2s ease-in-out;
  //     transition: all .2s ease-in-out;
  //   }
  // }
   
  .happy-links {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    // background: none repeat scroll 0% 0% #EEECF5;
    background: none repeat scroll 0% 0% #E2E0E9;
    transform: translateY(-100%);
    // transform: scale(0);
    transition-property: transform;
    transition-duration: 0.5s;
    z-index: 3;
    // display: none;
    // &.show-nav {
    //   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    //   transform: translateY(0px);
    // }

    ul {
      list-style: none;
      position: absolute;
      width: 100%;
      left: 55%;
      top: 50%;
      bottom: auto;
      right: auto;
      padding: 0;
      text-align: center;
      transform: translateX(-50%) translateY(-50%);
      li {
        font-size: 30px;
        margin: 15px 0;
        padding: 0px;
        a {
          text-decoration: none;
          // text-align: center;
          font-weight: normal;
          color: $pink-500;
          font-size: 3.925rem;
          // line-height: 6.925rem;
          position: relative;
          text-decoration: none;
          i {
            margin-right: 20px;
          }
          &:before {
            content: '';
            position: absolute;
            transition: transform .5s ease;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            background: #3A393F;
            transform:  scaleX(0);
          }
          &:after {
            content: '';
            position: absolute;
            transition: transform .5s ease;
          }
          &:hover:before {
            transform:  scaleX(1);
          }
        }
        span {
          color: $brand-primary;
        }
        .menu-item {
          top:0;
          // display: none;
          background: transparent;
          box-shadow: none;
        }
      }
    }
  }

  .menu-open:checked~.happy-links {
    // transform:scale(2,2) translate3d(0,0,0);
    // color: red;
    // display: block;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(0px);
    // transform: scale(1);
  }
  .menu-open-button {
    width: 35px;
    height: 35px;
  }
}
@media (min-width: $screen-sm) {
  .happy-links {
    ul {
      list-style: none;
      li {
        opacity: 0;
      }
    }
    a {
        // line-height: unset;
      span {
        // display: none;
        // display: block;
        // line-height: unset;
      }
    } 
  }
  .menu-open:checked~.happy-links ul li {
    opacity: 1;
  }
}
@media (min-width: $screen-sm) and (max-width: $screen-md-max){
  .happy-links {
    a {
      // line-height: unset;
      span {
        // display: block;
      }
    }
  }
}


@media (min-width: $screen-sm) {
  .menu .none {
    display: none;
  }
}
